{% extends "master.twig" %}

{% block head %}
    {{ parent() }}

    {% include 'script-mapa-editar.twig' %}
{% endblock %}

{% block contenido %}
    <section class="container">
        <form id="editar-local" method="post" action="{{ paths.PATH_CONTROLLER }}controladorAdminModel.php">
            <div class="contenido-mapa row">
                <div class="col-md-4">
                    <div class="tit2">EDITAR LOCAL</div>

                    <div class="listado">
                        <!-- Abre columna de descripción -->
                        <div class="form-group">
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre del local" required="true" value="{% autoescape false %}{{ datosLocal.nombre }}{% endautoescape %}">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="direccion" placeholder="Dirección y localidad" required="true" value="{% autoescape false %}{{ datosLocal.direccion }}{% endautoescape %}">
                        </div>
                    </div>
                    <div class="botones-dondecomprar">
                        <input type="hidden" name="latitud" value="{{ datosLocal.latitud }}">
                        <input type="hidden" name="longitud" value="{{ datosLocal.longitud }}">
                        <input type="hidden" name="section" value="editar-local">
                        <input type="hidden" name="local" value="{{ datosLocal.id }}">
                        <input type="submit" value="Guardar" class="btn btn-primary">
                        <a onclick="window.history.back();" class="btn btn-default">Cancelar</a>
                    </div>
                </div>

                <div class="col-md-8">
                    <input id="pac-input" class="controls" type="text" placeholder="Buscar">
                    <div class="mapa-locales" id="map_canvas" ></div>
                </div>
            </div>
            <!-- cierran columnas -->
        </form>
    </section>
{% endblock %}