{% extends "master.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ paths.PATH_CSS }}bootstrap.css">
    <link rel="stylesheet" href="{{ paths.PATH_CSS }}estilos-mapa.css">
    <link rel="stylesheet" href="{{ paths.PATH_CSS }}estilos.css">

    <link rel="stylesheet" href="{{ paths.PATH_HEDALY }}reset.css" type="text/css" media="screen, projection" />

    <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>

    <link href="{{ paths.PATH_HEDALY }}estilos.css" rel="stylesheet" type="text/css" />

    <link href="{{ paths.PATH_HEDALY }}estilos2.css" rel="stylesheet" type="text/css" />

    <script src="{{ paths.PATH_JS }}jquery-1.11.2.min.js"></script>

    <!-- styles needed by jScrollPane - include in your own sites -->

    <link type="text/css" href="{{ paths.PATH_HEDALY }}vitch-jScrollPane-449c299/style/jquery.jscrollpane.css" rel="stylesheet" media="all" />

    <style type="text/css" id="page-css">
        /* Styles specific to this particular page */
        .scroll-pane
        {
            width: 100%;
            height: 781px;
            overflow: auto;
        }
        .horizontal-only
        {
            height: auto;
            max-height: 200px;
        }
    </style>

    <script type="text/javascript" src="{{ paths.PATH_HEDALY }}vitch-jScrollPane-449c299/script/jquery.mousewheel.js"></script>
    <!-- the jScrollPane script 
    <script type="text/javascript" src="{{ paths.PATH_HEDALY }}vitch-jScrollPane-449c299/script/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function ()
        {
            $('.scroll-pane').jScrollPane();
        });
    </script>
-->
    <SCRIPT TYPE="text/javascript">
        function comprobar() {
            var mal = false;
            numero = 1;
            val_form = new Array();
            val_form[0] = 0;
            for (a = 0; a < numero; a++) {
                if (document.news.elements[val_form[a]].value == "") {
                    document.news.elements[val_form[a]].style.backgroundColor = "";
                    mal = true;
                }
                else {
                    document.news.elements[val_form[a]].style.backgroundColor = "";
                }
            }

            if (mal) {
                alert("Debe completar obligatoriamente los campos con asterisco");
            }
            else {
                if (document.news.news.value.indexOf('@') == -1) {
                    alert('Debe cargar un email valido');
                    document.news.email.focus();
                }
                else
                {
                    document.news.submit();
                }
            }
        }

        $(document).ready(function () {
            $("ul, ol").not(".pagination").each(function () {
                $(this).children("li:last").addClass("last");
            });
            $(".formRow").each(function () {
                $(this).children("input:last").addClass("last");
            });

            swapValue = [];
            $("input.text, textarea").each(function (i) {
                swapValue[i] = $(this).val();
                $(this).focus(function () {
                    if ($(this).val() == swapValue[i]) {
                        $(this).val("");
                    }
                    $(this).addClass("focus");
                }).blur(function () {
                    if ($.trim($(this).val()) == "") {
                        $(this).val(swapValue[i]);
                        $(this).removeClass("focus");
                    }
                });
            });
            $('a.toTop').click(function () {
                $.scrollTo(this.hash, 500);
                return false;
            });
        });
    </SCRIPT>	

    <script>
        $(document).ready(function () {
            $(".ColourChange2").hover(function ()
            {
                $(this).attr("src", $(this).attr("src").replace('_off', '_on'));
            }, function ()
            {
                $(this).attr("src", $(this).attr("src").replace('_on', '_off'));
            });
        });
    </script>

    {% include 'script-mapa.twig' %}
{% endblock %}

{% block header %}
    <div style="position:relativez;">
        <div id="bkweb" class="fix-home-bk" style="background:#C6C7C9; ">
            <div id="wrapper">
                <div class="arrowleft"></div> 
                <div class="arrowright"></div>
                <div class="wrap-navigators">
                    <!-- LOGO -->
                    <div style="position:absolute; left:21px; top:-361px; z-index:999;"><a href="index.php"><img src="{{ paths.PATH_HEDALY }}imagenes/logo_hedaly.png" width="195" height="107"></a></div>
                    <!-- LOGO -->

                    <!-- MENU -->
                    <div class="menuactive" style="color:#FFF; position:absolute; top:-361px; left:500px; z-index:999; width: 470px; heightz: 331px;">
                        <form action="{{ paths.PATH_HEDALY }}index.php?p=newsgracias" method="post" name="news" id="news">
                            <div class="right">
                                <div class="left"><input name="news" type="text" class="text inputnews1" id="news" value="E-mail"/></div>
                                <div class="left"><a href="javascript:comprobar();"><img name="botones_r2_c4" src="{{ paths.PATH_HEDALY }}imagenes/botones_r2_c4.png" width="137" height="24" border="0" id="botones_r2_c4" alt="" /></a></div>
                            </div>
                        </form>

                        <div class="clear"></div>

                        <div class="right">
                            <div class="left"><a href="{{ paths.PATH_HEDALY }}index.php?p=contacto"><img name="botones_r3_c5" src="{{ paths.PATH_HEDALY }}imagenes/botones_r3_c5.png" width="32" height="25" border="0" id="botones_r3_c5" alt="" /></a></div>
                            <div class="left" style="padding:4px 0 0 2px;"><a href="{{ paths.PATH_HEDALY }}ingles/index.php"><img name="botones_r3_c5" src="{{ paths.PATH_HEDALY }}imagenes/ing.jpg" width="28" height="18" border="0" id="botones_r3_c5" alt="" /></a></div>
                        </div>
                        <div class="right" style="padding:10px 0 0 0;">
                            <a href="{{ paths.PATH_HEDALY }}index.php?p=hedaly"><strong>Hedaly</strong></a>
                            <a href="{{ paths.PATH_HEDALY }}index.php"><strong>Productos</strong></a>
                            <a href="{{ paths.PATH_HEDALY }}index.php?p=distribucion"><strong>Distribuci&oacute;n</strong></a> 
                            <a href="{{ paths.PATH_HEDALY }}index.php?p=comercio"><strong>Comercio Exterior</strong></a> 
                            <a href="{{ paths.PATH_HEDALY }}index.php?p=comunicacion"><strong>Comunicaci&oacute;n</strong></a>        
                        </div>
                    </div>
                    <!-- MENU -->    

                    <div style="height:26px; width:131px; topz:326px; position:absolute; left: 841px; top: -11px;">
                        <form id="form1buscador" name="form1buscador" method="post" action="{{ paths.PATH_HEDALY }}index.php?p=productos">
                            <div class="left"><input type="text" name="buscador" id="buscador" class="inputbuscador"/></div>
                            <div class="left"><a href="javascript:document.form1buscador.submit();"><img name="botones_r6_c7" src="{{ paths.PATH_HEDALY }}imagenes/botones_r6_c7.png" width="24" height="26" border="0" id="botones_r6_c7" alt="" /></a></div>
                        </form>
                    </div>    
                    <div style="position:absolute; top: -15px; left:25px;">
                        <a href="#" ><div class="1">1</div></a>	
                        <a href="#" ><div class="2">2</div></a>	
                        <a href="#" ><div class="3">3</div></a>	
                        <a href="#" ><div class="4">4</div></a>
                    </div>	     	
                </div>

                <div style="topz:-21px;" class="slider externalControl">
                    <ul>
                        <li id="box1">
                            <div class="gallery " style="background-image:url({{ paths.PATH_HEDALY }}headers/headers_hedaly01.jpg); background-repeat:no-repeat; height:465px;" >
                            </div>
                        </li>
                        <li id="box2">
                            <div class="gallery " style="background-image:url({{ paths.PATH_HEDALY }}headers/headers_hedaly04.jpg); background-repeat:no-repeat; height:465px;" >
                            </div>
                        </li>
                        <li id="box3">
                            <div class="gallery " style="background-image:url({{ paths.PATH_HEDALY }}headers/headers_hedaly02.jpg); background-repeat:no-repeat; height:465px;" >
                            </div>
                        </li>
                        <li id="box4">
                            <div class="gallery " style="background-image:url({{ paths.PATH_HEDALY }}headers/headers_hedaly03.jpg); background-repeat:no-repeat; height:465px;" >
                            </div>
                        </li>
                    </ul>
                </div>	
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <!-- CONTAINER -->
    <div class="container" style="padding:0 0 0 0;">
        
        <div class="century2"><strong style="color:#F19504;">INNOVACI&Oacute;N</strong> Y CALIDAD PARA LA BELLEZA DE LA MUJER.</div>
        <div class="cuerpo">
        {% endblock %}

        {% block contenido %}
            <section class="columnas">
                <div class="row">
                    <input id="pac-input" class="controls" type="text" placeholder="Buscar">
                </div>
                <div class="contenido-mapa row"> 
                    <div class="col-md-4">
                        <div class="tit2">DONDE COMPRAR</div>
                        <div class="listado">
                            <p>Listado de locales</p>

                            <!--LISTADO DE LOCALES-->
                            <ul class="listado-locales">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mapa-locales" id="map_canvas" ></div>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block footer %}
            <!-- CONTAINER -->
        </div>

        <div class="clear"></div>

        <div class="pie">
            <div class="cuerpo">
                <div class="left" style="padding:21px 8px 0 9px;">
                    <a href="index.php" style="color:#0281C8;">Home</a>
                </div>

                <div class="left"><img src="{{ paths.PATH_HEDALY }}imagenes/lineaspie.png" width="15" height="126" /></div>

                <div class="left" style="padding:21px 6px 0 9px;">
                    <h1>Hedaly</h1>
                    <li><a href="{{ paths.PATH_HEDALY }}index.php?p=hedaly#ancla1">Historia</a></li>
                    <li><a href="{{ paths.PATH_HEDALY }}index.php?p=hedaly#ancla1">Misi&oacute;n</a></li>
                    <li><a href="{{ paths.PATH_HEDALY }}index.php?p=hedaly#ancla1">Visi&oacute;n</a></li>
                    <li><a href="{{ paths.PATH_HEDALY }}index.php?p=hedalya#ancla1">Valores</a></li>
                    <li><a href="{{ paths.PATH_HEDALY }}index.php?p=hedaly#ancla1">Certificaciones</a></li>
                    <li><a href="{{ paths.PATH_HEDALY }}index.php?p=hedaly#ancla1">Normas</a></li>
                </div>

                <div class="left"><img src="{{ paths.PATH_HEDALY }}imagenes/lineaspie.png" width="15" height="126" /></div>

                <div class="left" style="padding:21px 8px 0 9px; width:251px;">
                    <h1>Productos</h1>
                    <div><li><a href="#">Coloraciones capilares</a></li></div> 
                    <div><li><a href="#">Tratamientos de Belleza</a></li></div>
                    <div><li><a href="#">Shampoo, Jabones, Acondicionadores</a></li></div>
                    <div><li><a href="#">Cremas dentales</a></li></div>
                    <div><li><a href="#">Bronceadores y postsolares</a></li></div>
                    <div><li><a href="#">Manos y U&ntilde;as</a></li></div>               
                </div>

                <div class="left"><img src="{{ paths.PATH_HEDALY }}imagenes/lineaspie.png" width="15" height="126" /></div>

                <div class="left" style="padding:34px 8px 0 9px;"><br>
                    <p>Laboratorio Hedaly S.A.</p>
                    <p>Calle Quilmes 1957 - Temperley</p>
                    <p>Pcia. de Buenos Aires - Argentina</p>
                    <p>Tel.: (0054-11) 4264-8940 // 8350</p>
                    <p>e-mail: <a href="mailto:info@hedalysa.com.ar">info@hedalysa.com.ar</a></p>
                </div>

                <div class="left"><img src="{{ paths.PATH_HEDALY }}imagenes/lineaspie.png" width="15" height="126" /></div>

                <div class="left" style="padding:47px 8px 0 9px;">
                    <p>Copyright 2012</p>
                    <p>Laboratorio Hedaly S.A.</p>
                    <p class="left" style="margin:11px 0 0 0;"><a href="{{ paths.PATH_HEDALY }}index.php?p=contacto"><img name="hedaly_r15_c4" src="{{ paths.PATH_HEDALY }}imagenes/hedaly_r15_c4.jpg" width="26" height="19" border="0" id="hedaly_r15_c4" alt="" /></a></p>
                    <p class="left" style="margin:11px 0 0 0;"><a href="https://www.facebook.com/LaboratorioHedaly?fref=ts" target="_blank"><img name="hedaly_r15_c6" src="{{ paths.PATH_HEDALY }}imagenes/hedaly_r15_c6.jpg" width="21" height="19" border="0" id="hedaly_r15_c6" alt="" /></a></p>
                </div>
            </div>

            <div class="left" style="padding:36px 0 0 0;"><img name="hedaly_r14_c9" src="{{ paths.PATH_HEDALY }}imagenes/hedaly_r14_c9.jpg" width="52" height="85" border="0" id="hedaly_r14_c9" alt="" /></div>
        </div>

        <div class="clear"></div> 
    </div>

    <script type="text/javascript" src="{{ paths.PATH_HEDALY }}jquerytools.js"></script>
    <script type="text/javascript" src="{{ paths.PATH_HEDALY }}interface.js"></script>
    <script type="text/javascript" src="{{ paths.PATH_HEDALY }}jcarousellite_1.0.1.pack.js"></script>
    <script>
        $(document).ready(function () {
            $(".slider").jCarouselLite({
                visible: 1,
                speed: 1901,
                auto: 2801,
                afterEnd: function (obj) {
                    var numLi = $(obj).attr("id");
                    switch (numLi) {
                        /*	case "box0":
                         $('#bkweb').animate({ backgroundColor: '#000' },'normal');
                         $('.wrap-navigators a div').css( 'backgroundPosition','0 0');
                         $('.0').css( 'backgroundPosition','0 -35px');
                         break;*/
                        case "box1":
                            $('#bkweb').animate({backgroundColor: '#C6C7C9'}, 'normal');
                            $('.wrap-navigators a div').css('backgroundPosition', '0 0');
                            $('.1').css('backgroundPosition', '0 -35px');
                            break;
                        case "box2":
                            $('#bkweb').animate({backgroundColor: '#C6C7C9'}, 'normal');
                            $('.wrap-navigators a div').css('backgroundPosition', '0 0');
                            $('.2').css('backgroundPosition', '0 -35px');
                            break;
                    }
                },
                btnNext: ".arrowright",
                btnPrev: ".arrowleft",
                btnGo: [".wrap-navigators .1", ".wrap-navigators .2", ".wrap-navigators .3"]
            });

            $('.1').css('backgroundPosition', '0 -35px');
            $('.wrap-navigators a div').hover(
                    function () {
                        var colpos = $(this).css('backgroundPosition');
                        if (colpos != "0pt -35px") {
                            $(this).css('backgroundPosition', '0 -17px');
                        }
                    },
                    function () {
                        var colpos = $(this).css('backgroundPosition');
                        if (colpos != "0pt -35px") {
                            $(this).css('backgroundPosition', '0 0');
                        }
                    }
            );

            function remoSelec() {
                $('.it1, .it2, .it3').removeClass('selected');
            }

            $('.it1').click(function () {
                remoSelec();
                $(this).addClass('selected');
                var htmlInclude = '<div class="adm-image"><img src="images/services/image1.gif" alt="" width="293" height="300" /></div><div class="adm-text"><h5 class="services">/h5><div class="separator"></div><a href="#" class="viewmore"><b>View more</b></a></div>';
                $('.adm-content').html(htmlInclude);
                return false;
            });
            $('.it2').click(function () {
                remoSelec()
                $(this).addClass('selected');
                var htmlInclude = '<div class="adm-image"><img src="images/services/image1.gif" alt="" width="293" height="300" /></div><div class="adm-text"><h5 class="services"></h5><div class="separator"></div><a href="#" class="viewmore"><b>View more</b></a></div>';
                $('.adm-content').html(htmlInclude);
                return false;
            });

            $('.it3').click(function () {
                remoSelec()
                $(this).addClass('selected');
                var htmlInclude = '<div class="adm-image"><img src="images/services/image1.gif" alt="" width="293" height="300" /></div><div class="adm-text"><h5 class="services"></h5><div class="separator"></div><a href="#" class="viewmore"><b>View more</b></a></div>';
                $('.adm-content').html(htmlInclude);
                return false;
            });

            //hovers orange
            $("ul.image-projects li").hover(
                    function () {
                        $(this).find("a").addClass('bk-orange-works');
                    },
                    function () {
                        $(this).find("a").removeClass('bk-orange-works');
                    }
            );
        });
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ paths.PATH_JS }}bootstrap.min.js"></script>

    <script src="{{ paths.PATH_JS }}funcs.js"></script>
{% endblock %}