<!Doctype html>
<html lang="es">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>Hedaly</title>

            <!-- abre LINK -->
            <link href="favicon.ico" rel="shortcut icon">
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
            <meta name="description" content="">
            <meta name="Keywords" content="">
            <meta property="og:image" content="" />
            <meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1">

            <!-- B O O T S T R A P -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="{{ paths.PATH_CSS }}bootstrap.css">
            <link rel="stylesheet" href="{{ paths.PATH_CSS }}estilos-mapa.css">
            <link rel="stylesheet" href="{{ paths.PATH_CSS }}estilos.css">


            <!-- abre SCRIPT -->
            <script src="{{ paths.PATH_JS }}jquery-1.11.2.min.js"></script>



            <script type="text/javascript">
                var PATH_CONTROLLER = '{{ paths.PATH_CONTROLLER }}';
                var PATH_HOME = '{{ paths.PATH_HOME }}';
            </script> 

        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'analyticstracking.twig' %}

            <!-- H E A D E R -->
            <header>
                <div class="encabezado">
                    <div class="header">
                        <div class="container">
                            <div class="row titulo">
                                <div class="col-md-4">
                                    <img src="{{ paths.PATH_HEDALY }}imagenes/logo_hedaly.png" width="195" height="107">
                                </div>
                                <div class="col-md-8">
                                    <div class="pull-right">
                                        {% if(logueado) %}
                                            <form action="{{ paths.PATH_CONTROLLER }}controladorAdminModel.php" method="post">
                                                <span class="nameAdmin">{{ nombre_visible }}</span>
                                                <input type="hidden" name="section" value="logout">
                                                <input type="submit"  value ="Salir" class="btn btn-primary"></input>
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </header>          
        {% endblock %}

        <!-- abre S E C T I O N -->

        {% block contenido %}
        {% endblock %}

        {% block footer %}
            <!-- abre F O O T E R -->
            <footer>

            </footer>

            <!-- Latest compiled and minified JavaScript -->
            <script src="{{ paths.PATH_JS }}bootstrap.min.js"></script>

            <script src="{{ paths.PATH_JS }}funcs.js"></script>
        {% endblock %}

    </body>
</html>